@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Open+Sans&display=swap");

* {
  font-family: "Carrois Gothic SC", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.header-copy p {
  text-align: center;
  color: #363636;
  font-weight: 700;
  font-size: 2rem;
}

.jumbotron {
  margin: 1rem 0;
}

.title strong {
  font-weight: 400;
  font-size: 4rem;
}

.card-img-top {
  margin-bottom: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.carousel-inner .btn,
.about-btn,
.modal .btn {
  background-color: #86a6a6;
  border: none;
  color: white;
  transition-duration: 0.4s;
}

.carousel-inner .btn:hover,
.about-btn:hover,
.modal .btn:hover {
  background-color: transparent;
  border: none;
  color: #363636;
}

.font-black {
  color: black;
  font-size: 3rem;
}

.font-white {
  color: white;
  font-size: 3rem;
}

.butt {
  transition-duration: 0.4s;
  color: #363636;
}

.butt:hover {
  color: #86a6a6;
}

nav a,
a {
  transition-duration: 0.4s;
  text-decoration: none;
  color: #363636;
}

article h4,
article p {
  color: #5e5a59;
}

nav a:hover,
a:hover {
  color: #86a6a6;
}

.blog-post-title,
h3 {
  color: #363636;
}

.navbar-brand img {
  max-width: 60px;
}

.jumbotron {
  margin: 1rem 0;
}

.jumbo-trans {
  background: rgba(255, 255, 255, 0.8);
}

footer {
  background-color: whitesmoke;
}

@media screen and (max-width: 767px) {
  .man-img {
    width: 100%;
  }
}
