@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Open+Sans&display=swap");

* {
  font-family: "Carrois Gothic SC", sans-serif;
  color: #5e5a59;
}

.logo a {
  color: #385959;
}

.jumbotron {
  margin: 1rem 0;
}

.title strong {
  font-weight: 400;
  font-size: 4rem;
}

.card-header {
  background-color: #fff;
}

.card-header h5,
.header-h2 {
  color: #5e5a59;
}

.card-img-top {
  margin-bottom: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.butt {
  transition-duration: 0.4s;
}

.butt:hover {
  color: white;
}

nav a,
a {
  transition-duration: 0.4s;
  text-decoration: none;
  color: white;
}

nav a:hover,
a:hover {
  color: #86a6a6;
}

.blog-post-title,
h3 {
  color: #385959;
}

.navbar-brand img {
  max-width: 60px;
}

@media screen and (max-width: 767px) {
  .man-img {
    width: 100%;
  }
}
